/* CSS Document */
body{
  margin: 0;
  padding: 0;
  font-family: Compote;
  background-repeat: no-repeat;
  background-size: cover;
  background:#DFD69E;
  height: 100vh;
  overflow: hidden;
}

.acceso-usuario{
  position: absolute;
  width: 65.9%;
  height: 4.5%;
  left: 56%;
  top: 10%;
  font-family: 'Compote';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 42px;
  text-align: center;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
  background: white;
  border-radius: 10px;
}


.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0px;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:Valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

#botonR, #botonL{
  width: 30%;
  height: 50px;
  top: 60%;
  border: 1px solid;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

}

#botonR:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
#logofoto{
  position:absolute;
  top:3%;
  left: 3%;
  height: 24%;
  width: 13%;

}
#pendientes{
  position:absolute;
  top: 9%;
  right:71%;
  height:65px;
  width:100px;  
}

.signup_link a{
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover{
  text-decoration: underline;
}

.HomeAbout{
  width: 100vw;
  height: 25vh;
}

.btnpublicar{
  width: 5vw;
  height: 10vh;
  border-radius: 75%;
  font-family: Compote;
  position: absolute;
  top: 87%;
  right: 3%;
  background: black;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

  #botonP{
  width: 20%;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 40%;
  border: 1px solid;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

#botonP:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.centerpub{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 40%;/*29vw;*/
  border-radius: 10px;
}


.h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}


#frm1{
  padding: 0 40px;
  box-sizing: border-box;
}

.bad{
  font-size:20px;
  font-family: 'Compote';
  color: red;
  top: 53%;
  left: 35%; 
  position: absolute;
 }

[name='prenda']{
  width: 15%;
  height: 7%;
  position: absolute;
  left: 15%;
  top: 19.5%;
  font-size: 23px;
  border: none;
  background: none;
  font-family: 'Compote', black;
}

.chbxUsado{
  position: absolute;
  top: 45%;
  left: 27.5%;
  width: 3%;
  height: 3%;
}

.lblUsado{
  position: absolute;
  height: 5%;
  width: 20%;
  top: 45%;
  left: 15%;
  font-size: 23px;
  border-radius: 7px;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}


.barrabusqueda{
  width: 45%;
  height: 6%;
  border: 1px solid;
  position: absolute;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer; 
  top: 9%; 
  left: 29%;
  text-align: center;
}
#btnbusqueda{
display: none;
}

.file-input { 
display: grid;
grid-template-areas: "stack";
width: 360px; 
height: 350px;
left: 60%; 
position: absolute;
background-color: #eeeeee; 
border-radius: 8px; 
align-content: center;
}

.file-input > * {
  grid-area: stack;
}

.file-input> input { 
  opacity: 0;
}

.file-input > .drop-zone { 
  margin: 12px; 
  border: dashed 2px #aaaaaa; 
  border-radius: 4px;
  transition: margin 200ms;
  height: 270px;
}

.file-input.active> .drop-zone {
  margin: 14px;
  background-color: #dadada;
}

.container{
  text-align: center;
}

#lupita{
  position: absolute;
  top: 10%;
  left: 29.5%;
  height: 5%;
  width: 2.5%;
  z-index: 2;
}

#campana{
  position:absolute;
  top: 9%;
  right:21%;
  height:58px;
  width:62px;
}

#btn_mapa{
  position:absolute;
  top: 9%;
  right:77%;
  height:60px;
  width:78px;
}

#btn_pantalones{
  position:absolute;
  top: 24%;
  right:72%;
  height:58px;
  width:140px;
}

#btn_remera{
  position:absolute;
  top: 24%;
  right:61%;
  height:58px;
  width:140px;
}

#btn_buzo{
  position:absolute;
  top: 24%;
  right:50%;
  height:58px;
  width:140px;
}

#btn_ropinterior{
  position:absolute;
  top: 24%;
  right:39%;
  height:58px;
  width:140px;
}

#btn_zapas{
  position:absolute;
  top: 24%;
  right:28%;
  height:58px;
  width:140px;
}

#btn_camperas{
  position:absolute;
  top: 24%;
  right:17%;
  height:58px;
  width:140px;
}

#btn_shorts{
  position:absolute;
  top: 24%;
  right:6%;
  height:58px;
  width:140px;
}

#flechaatras{
  position:absolute;
  top:2%;
  left: 3%;
  height: 8%;
  width: 5%;
}

#rectangulo{
  position:absolute;
  top: 35%;
  right:50%;
  height:50%;
  width:92%;
  left: 4%;
}

[name="talles"]{
  width: 15%;
  height: 7%;
  position: absolute;
  left: 15%;
  top: 34%;
  font-size: 23px;
  border: none;
  background: none;
  font-family: 'Compote', black;
}

.lblTalle{
  position: absolute;
  width: 20%;
  height: 10%;
  top: 30%;
  left: 15%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

.lblPrendas{
  position: absolute;
  width: 20%;
  height: 10.5%;
  top: 15%;
  left: 15%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

.lbl_desc{
  position: absolute;
  width: 20%;
  height: 15%;
  top: 55%;
  left: 15%;
  font-family: 'Compote';
  font-size: 23px;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

.lbl_desc textarea{
  top: 29%;
  width: 98%;
  height: 35%;
  left: 1%;
  font-family: 'Arial';
  font-size: 18px;
  background-color: black;
  background: none;
  text-decoration-line: overline;
  max-width: 95%;
  max-height: 67%;
}

#mapa{
  position: absolute;
  top: 20%;
  right: 10%;
  height: 70%;
  width: 50%;
  border-radius: 7px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.localesParaTi{
  position: absolute;
  font-size: 23px;
  top: 21%;
  left: 2%;
  border-radius: 7px;
  background: rgba(255, 254, 254, 0.38);
}

.ubilocalesParaTi{
  position: absolute;
  font-size: 23px;
  top: 25%;
  left: 2%;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

[name="color"]{
  position: absolute;
  width: 10%;
  height: 4.5%;
  top: 75%;
  left: 20%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  background: rgba(255, 254, 254, 0.38);
}

.lblColor{
  position: absolute;
  width: 15.5%;
  height: 5%;
  top: 75%;
  left: 15%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

#prew{
  position: absolute;
  top: 21%;
  left: 62%;
  height: 10%;
  width: 10%;
}

.wrapper {
  position: absolute;
  top: 35%;
  right: 35%;
  width: 20%;
  height: 50%;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  background: url(https://image.freepik.com/free-photo/medium-shot-man-trying-futuristic-device_23-2148864992.jpg) no-repeat center center;
  background-size: 100%;
}
  }
.wrapper .container .bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #FFAD60;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .left .details h1{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #96CEB4;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
  background: #A6CDDE;
}
.wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394B;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9B2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  background: #D9534F;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}