/* CSS Document */
body{
  margin: 0;
  padding: 0;
  font-family: Compote;
  background-repeat: no-repeat;
  background-size: cover;
  background:#DFD69E;
  height: 100vh;
  overflow: hidden;
}

.acceso-usuario{
  width: 63%;
  height: 4%;
  margin-left: 800px;
  margin-top: 60px;
  font-family: 'Compote';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 42px;
  text-align: center;
}

.center{
  margin-top: 330px;
  margin-left: 670px;
  transform: translate(-50%, -50%);
  width: 29vw;
  background: white;
  border-radius: 10px;
}


.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0px;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:Valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

#botonR, #botonL{
  width: 100px;
  height: 50px;
  margin-top: 5px;
  border: 1px solid;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

}

#botonR:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
#logofoto{
  position: absolute;
  top: 15px;
  left: 35px;
  height: 24%;
  width: 13%;

}
#pendientes{
  position: absolute;
  top: 50px;
  right: 970px;
  height:65px;
  width:100px;    
}

.signup_link a{
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover{
  text-decoration: underline;
}

.HomeAbout{
  width: 100vw;
  height: 25vh;
}

.btnpublicar{
  width: 5vw;
  height: 10vh;
  border-radius: 75%;
  font-family: Compote;
  position: absolute;
  z-index: 4;
  top: 87%;
  right: 3%;
  background: black;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}
.btnpublicar:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }

  #botonP{
  width: 20%;
  height: 50px;
  margin-top: 380px;
  margin-left: 20px;
  border: 1px solid;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

#botonP:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.centerpub{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 40%;/*29vw;*/
  border-radius: 10px;
}


.h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}


#frm1{
  padding: 0 40px;
  box-sizing: border-box;
}

.bad{
  font-size:20px;
  font-family: 'Compote';
  color: red;
  top: 53%;
  left: 40%; 
  position: absolute;
 }

[name='prenda']{
  position: absolute;
  width: 15%;
  height: 7%;
  left: 190px;
  top: 115px;
  font-size: 23px;
  border: none;
  background: none;
  font-family: 'Compote', black;
}

.chbxUsado{
  position: absolute;
  margin-top: 175px;
  margin-left: -283px;
  width: 3%;
  height: 3%;
}

.lblUsado{
  position: absolute;
  height: 5%;
  width: 20%;
  margin-top: 170px;
  margin-left: -448px;
  font-size: 23px;
  border-radius: 7px;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}


.barrabusqueda{
  width: 45%;
  height: 6%;
  border: 1px solid;
  position: absolute;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer; 
  top: 9%; 
  left: 29%;
  text-align: center;
}
#btnbusqueda{
display: none;
}
/*
.file-input { 
display: grid;
grid-template-areas: "stack";
width: 360px; 
height: 350px;
left: 60%; 
position: absolute;
background-color: #eeeeee; 
border-radius: 8px; 
align-content: center;
}

.file-input > * {
  grid-area: stack;
}

.file-input> input { 
  opacity: 0;
}

.file-input > .drop-zone { 
  margin: 12px; 
  border: dashed 2px #aaaaaa; 
  border-radius: 4px;
  transition: margin 200ms;
  height: 270px;
}

.file-input.active> .drop-zone {
  margin: 14px;
  background-color: #dadada;
}
*/
.container{
  text-align: center;
}

#lupita{
  position: absolute;
  top: 10%;
  left: 29.5%;
  height: 5%;
  width: 2.5%;
  z-index: 2;
}

#campana{
  position: absolute;
  top: 50px;
  right: 270px;
  height:58px;
  width:62px;
}

#btn_mapa{
  position: absolute;
  top: 50px;
  right: 1050px;
  height:60px;
  width:78px;
}

#btn_pantalones{
  position:relative;
  margin-top: 80px;
  margin-left: -1050px;
  height: 58px;
  width: 140px;
}

#btn_remera{
  position: relative;
  margin-top: 24px;
  margin-left: 390px;
  height: 58px;
  width: 140px;
}

#btn_buzo{
  position: relative;
  margin-top: 24px;
  margin-left: 80px;
  height: 58px;
  width: 140px;
}

#btn_ropinterior{
  position: relative;
  margin-top: 24px;
  margin-right: 10px;
  height: 58px;
  width: 140px;
}

#btn_zapas{
  position: relative;
  margin-top: 24px;
  margin-right: 30px;
  height:58px;
  width:140px;
}

#btn_camperas{
  position:relative;
  margin-top: 24px;
  margin-right:-10px;
  height:58px;
  width:140px;
}

#btn_shorts{
  position:relative;
  margin-top: 24px;
  margin-right:-50px;
  height:58px;
  width:140px;
}

#flechaatras{
  position:absolute;
  top:2%;
  left: 3%;
  height: 8%;
  width: 5%;
}

[name="talles"]{
  width: 15%;
  height: 7%;
  position: absolute;
  left: 15%;
  top: 34%;
  font-size: 23px;
  border: none;
  background: none;
  font-family: 'Compote', black;
}

.lblTalle{
  position: absolute;
  width: 20%;
  height: 10%;
  top: 30%;
  left: 15%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

.lblPrendas{
  position: absolute;
  width: 20%;
  height: 10.5%;
  top: 15%;
  left: 15%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

.lbl_desc{
  position: absolute;
  width: 20%;
  height: 15%;
  top: 55%;
  left: 15%;
  font-family: 'Compote';
  font-size: 23px;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

.lbl_desc textarea{
  top: 29%;
  width: 98%;
  height: 35%;
  left: 1%;
  font-family: 'Arial';
  font-size: 18px;
  background-color: black;
  background: none;
  text-decoration-line: overline;
  max-width: 95%;
  max-height: 67%;
}

#mapa{
  position: absolute;
  top: 20%;
  right: 10%;
  height: 70%;
  width: 50%;
  border-radius: 7px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.localesParaTi{
  position: absolute;
  font-size: 23px;
  top: 21%;
  left: 2%;
  border-radius: 7px;
  background: rgba(255, 254, 254, 0.38);
}

.ubilocalesParaTi{
  position: absolute;
  font-size: 23px;
  top: 25%;
  left: 2%;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

[name="color"]{
  position: absolute;
  width: 10%;
  height: 4.5%;
  top: 75%;
  left: 20%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  background: rgba(255, 254, 254, 0.38);
}

.lblColor{
  position: absolute;
  width: 15.5%;
  height: 5%;
  top: 75%;
  left: 15%;
  font-size: 23px;
  background-color: white;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);
}

.form-group{
    position: absolute;
    left:65%;
    height: 100px;
    width:25%;
    text-align:center;
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0.38);
;
}
#prew {
    height: 300px;
    background-color:rgba(255, 254, 254, 0.38);
    border-radius: 10px;
   }

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: 90%;
}

#prendascont{
  position:absolute;
  top: 35%;
  right:50%;
  height:54%;
  width:92%;
  left: 4%;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  background: rgba(255, 254, 254, 0.38);

}
#lblcard{
  position: absolute;
  top: 91%;
  z-index: 2;
  font-size: 20px;
  left: 12%;
  text-align:center;
}
#imgcardcont{
position: absolute;
border-radius: 30px;
height:250px;
width:250px;
right: 8%;
top: 10%;
}

.cardcont{
width: 300px;
height: 312px;
z-index: 0;
border-radius: 15px;
position:absolute;
align-content: center;
text-align: center;
}

.cardcont :hover{
transform: scale(1);
box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.inside {
  z-index: 9;
  background: #D9534F;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10%;
  right: 8%;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

 .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
 .inside:hover {
  right: 8;
  top: 0;
  border-radius: 0;
  height: 80%;
  top: 10%;
  width: 83%;
  right: 8%;
  border-radius: 15px;
}
 .inside:hover i{
  display: none;
 }
 .inside label{
  visibility: hidden;
 }
 .inside:hover label {
  visibility: visible;
 }

#info_outline{
position: absolute;
  top: 10%;
  left: 20%;
}

#lbldescCard{
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 18px;
}
#lbltalleCard{
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 18px;
}
#lblusadoCard{
  position: absolute;
  top: 60%;
  left: 5%;
  font-size: 18px;
}
#lblcolorCard{
  position: absolute;
  top: 80%;
  left: 5%;
  font-size: 18px;
}

