/* CSS Document */
body{
  margin: 0;
  padding: 0;
  font-family: Compote;
  background-repeat: no-repeat;
  background-size: cover;
  background:#DFD69E;
  height: 100vh;
  overflow: hidden;
}

.acceso-usuario{
  position: absolute;
  width: 65.9%;
  height: 4.5%;
  left: 56%;
  top: 10%;
  font-family: 'Compote';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 42px;
  text-align: center;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
  background: white;
  border-radius: 10px;
}


.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0px;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:Valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

#botonR, #botonL{
  width: 30%;
  height: 50px;
  top: 60%;
  border: 1px solid;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

}

#botonR, #botonL:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
#logofoto{
  position:absolute;
  top:3%;
  left: 3%;
  height: 24%;
  width: 13%;

}
#corazon{
  position:absolute;
  top: 10%;
  right:21.5%;
  height:45px;
  width:50px;
  
}


.signup_link a{
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover{
  text-decoration: underline;
}

.HomeAbout{
  width: 100vw;
  height: 25vh;
}

.btnpublicar{
  width: 5vw;
  height: 10vh;
  border-radius: 75%;
  font-family: Compote;
  position: absolute;
  top: 87%;
  right: 3%;
  background: black;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

  #botonP{
  width: 20%;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 40%;
  border: 1px solid;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

#botonP:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.centerpub{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 40%;/*29vw;*/
  border-radius: 10px;
}


.h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}


#frm1{
  padding: 0 40px;
  box-sizing: border-box;
}

.txt_pub{
  position: absolute;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
  position: absolute;
  left: 15%;
  top: 25%;
  font-size: 23px;
  border: none;
  background: none;
  outline: none;
  font-family: 'Compote'

}

.txt_pub input{
  width: 30%;

  height: 20%;
  top: 50%;
  left: 30%;
  font-size: 23px;
  border: none;
  background: none;
  font-family: 'Compote';
  outline: none;
}

.txt_pub label {
  position: absolute;
  top: 30%;
  left: 2%;
  color: black;
  transform: translateY(-50%);
  font-size: 23px;
  pointer-events: none;
}

.txt_pub span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0px;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_pub input:focus ~ label,
.txt_pub input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_pub #desc:focus ~ span::before,
.txt_pub #desc:Valid ~ span::before{
  width: 100%;
}
.bad{
  font-size:20px;
  font-family: 'Compote';
  color: red;
  top: 53%;
  left: 35%; 
  position: absolute;
 }

[name='prenda']{
  width: 15%;
  height: 7%;
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 23px;
  border: none;
  background: none;
  font-family: 'Compote', black;
}

.chbxUsado{
  position: absolute;
  top: 40%;
  left: 22%;
  width: 3%;
  height: 3%;
}

.lblUsado{
  position: absolute;
  top: 40%;
  left: 15.5%;
  font-size: 23px;
}


.barrabusqueda{
  width: 45%;
  height: 6%;
  border: 1px solid;
  position: absolute;
  font-family: Compote;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer; 
  top: 10.5%; 
  left: 29%;
  text-align: center;
}
#btnbusqueda{
display: none;
}

.file-input { 
display: grid;
grid-template-areas: "stack";
width: 360px; 
height: 300px;
left: 60%; 
position: absolute;
background-color: #eeeeee; 
border-radius: 8px; 
}

.file-input > * {
  grid-area: stack;
}

.file-input> input { 
  opacity: 0;
}

.file-input > .drop-zone { 
  margin: 12px; 
  border: dashed 2px #aaaaaa; 
  border-radius: 4px;
  transition: margin 200ms;
  height: 270px;
}

.file-input.active> .drop-zone {
  margin: 14px;
  background-color: #dadada;
}

.container{
  text-align: center;
}

#lupita{
  position: absolute;
  top: 11.5%;
  left: 29.5%;
  height: 5%;
  width: 2.5%;
  z-index: 2;
}

#campana{
  position:absolute;
  top: 9%;
  right:72%;
  height:58px;
  width:62px;
}

#mapa{
  position:absolute;
  top: 9%;
  right:77%;
  height:55px;
  width:68px;
}

#btn_pantalones{
  position:absolute;
  top: 24%;
  right:72%;
  height:58px;
  width:140px;
}

#btn_remera{
  position:absolute;
  top: 24%;
  right:61%;
  height:58px;
  width:140px;
}

#btn_buzo{
  position:absolute;
  top: 24%;
  right:50%;
  height:58px;
  width:140px;
}

#btn_ropinterior{
  position:absolute;
  top: 24%;
  right:39%;
  height:58px;
  width:140px;
}

#btn_zapas{
  position:absolute;
  top: 24%;
  right:28%;
  height:58px;
  width:140px;
}

#btn_camperas{
  position:absolute;
  top: 24%;
  right:17%;
  height:58px;
  width:140px;
}

#btn_shorts{
  position:absolute;
  top: 24%;
  right:6%;
  height:58px;
  width:140px;
}

#flechaatras{
  position:absolute;
  top:2%;
  left: 3%;
  height: 8%;
  width: 5%;
}

#rectangulo{
  position:absolute;
  top: 35%;
  right:50%;
  height:50%;
  width:92%;
  left: 4%;
}

[name="talles"]{
  width: 15%;
  height: 7%;
  position: absolute;
  left: 15.5%;
  top: 53.7%;
  font-size: 23px;
  border: none;
  background: none;
  font-family: 'Compote', black;
}

.lblTalle{
  position: absolute;
  top: 50%;
  left: 15.5%;
  font-size: 23px;
}